$middle-screen-width: 1024px; // same with tailwind lg
$larger-screen-width: 1280px; // same with tailwind xl
$large-screen-width: 1536px; // same with tailwind 2xl

:root {
  --bidi-text-color: #1e1e1e;
  --bidi-background-color-1: #ef7067;
  --bidi-background-color-2: rgba(239, 112, 103, 0.4);
  --bidi-background-color-3: rgba(122, 204, 200, 0.4);
  --bidi-background-color-4: #ffe1df;

  --bidi-color-1: #002b5c;
  --bidi-color-2: #ef7067;
  --bidi-color-3: #637f9b;

  font-size: 0.9rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: var(--bidi-text-color);
  background-color: #ffffff;
  letter-spacing: 0.07rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  line-height: 1.2;
}

a {
  display: block;
}

em {
  font-weight: bold;
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

summary {
  display: block;
  outline: none;
  cursor: pointer;
}

textarea {
  &::placeholder {
    color: var(--bidi-text-color);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
